@font-face {
  font-family: "Caskaydia Cove Mono";
  src: url("../assets/fonts/Caskaydia Cove Nerd Font Complete Mono Regular.otf");
}
body {
  --bg0: hsl(195 6% 12%);
  --bg1: hsl(19 5% 22%);
  --bg2: hsl(21 7% 29%);
  --fg0: hsl(47 86% 88%);
  --fg1: hsl(43 58% 81%);
  --fg2: hsl(39 38% 73%);
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-family: "Caskaydia Cove Mono";
  background-color: var(--bg0);
  color: var(--fg0);
}
body.light {
  --bg0: hsl(53 73% 91%);
  --bg1: hsl(43 58% 81%);
  --bg2: hsl(39 38% 73%);
  --fg0: hsl(0 0% 15%);
  --fg1: hsl(19 5% 22%);
  --fg2: hsl(21 7% 29%);
}
body a, body a:visited {
  color: inherit;
  text-decoration: none;
}
body input[type=checkbox] {
  --height: 16px;
  appearance: none;
  position: relative;
  width: calc(var(--height) * 2);
  height: var(--height);
  border: 2px solid var(--bg2);
  border-radius: 10px;
  margin: 0;
  box-sizing: content-box;
}
body input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--bg0);
  border-radius: var(--height);
  background-color: var(--bg2);
  width: var(--height);
  height: var(--height);
  box-sizing: border-box;
  transition: transform 0.3s;
}
body input[type=checkbox]:checked {
  border-color: var(--fg0);
}
body input[type=checkbox]:checked::before {
  transform: translateX(var(--height));
  background-color: var(--fg0);
}
body header {
  display: flex;
  justify-content: space-between;
}
body header section.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body header section.left h1 {
  margin: 0;
}
body header section.right {
  position: relative;
  display: grid;
  place-items: center;
}
body header section.right .options > button {
  all: unset;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  color: var(--bg2);
  border-radius: 10px;
  box-sizing: border-box;
  transition: color 0.3s, background-color 0.3s;
  z-index: 3;
}
body header section.right .options > button:hover {
  color: var(--fg0);
}
body header section.right .options > .content {
  display: none;
  width: 240px;
  position: absolute;
  right: 0;
  top: 53px;
  flex-direction: column;
  padding: 10px;
  background-color: var(--bg0);
  border: 3px solid var(--bg1);
  z-index: 3;
}
body header section.right .options > .content::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 7px;
  width: 0;
  height: 0;
  --size: 10px;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--bg1);
}
body header section.right .options > .content .option {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
body header section.right .options > .content .dropdownOption .dropdownOptionButton {
  cursor: pointer;
}
body header section.right .options > .content .dropdownOption .dropdownOptionContent {
  display: none;
}
body header section.right .options > .content .dropdownOption.active {
  border-style: solid;
  border-width: 2px 0;
  border-color: var(--bg1);
}
body header section.right .options > .content .dropdownOption.active:first-of-type {
  border-width: 0 0 2px 0;
}
body header section.right .options > .content .dropdownOption.active:last-of-type {
  border-width: 2px 0 0 0;
}
body header section.right .options > .content .dropdownOption.active + .dropdownOption.active {
  border-width: 0 0 2px 0;
}
body header section.right .options > .content .dropdownOption.active + .dropdownOption.active:last-child {
  border-width: 0;
}
body header section.right .options > .content .dropdownOption.active .dropdownOptionContent {
  display: initial;
}
body header section.right .options > .content .dropdownOption.active .dropdownOptionContent .option {
  padding-left: 20px;
}
body header section.right .options > .content .footer {
  border-top: 2px solid var(--bg1);
  justify-content: space-evenly;
  gap: 20px;
  padding-bottom: 0;
}
body header section.right .options > .content .footer a {
  position: relative;
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background-color: var(--bg2);
  color: var(--fg2);
}
body header section.right .options > .content .footer a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
body header section.right .options > .content .footer a::after {
  display: none;
}
body header section.right .options > .content .footer a:hover::after {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg2);
  color: var(--fg2);
  font-size: 11px;
  padding: 5px;
  border-radius: 5px;
}
body header section.right .options > .content .footer a.github::before {
  content: "\e708";
}
body header section.right .options > .content .footer a.github::after {
  content: "GitHub";
}
body header section.right .options > .content .footer a.kofi::before {
  content: "\f155";
}
body header section.right .options > .content .footer a.kofi::after {
  content: "Donate";
}
body header section.right .options > .content .footer a:hover {
  background-color: var(--fg2);
  color: var(--bg2);
}
body header section.right .options > .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
}
body header section.right .options.active > button {
  background-color: var(--fg0);
  color: var(--bg0);
}
body header section.right .options.active > .content {
  display: flex;
}
body header section.right .options.active > .modal {
  display: initial;
}
body table {
  display: none;
  border: 3px solid var(--bg1);
  border-collapse: collapse;
}
body table.active {
  display: table;
}
body table td {
  position: relative;
  padding: 10px;
  border: 1px solid var(--bg1);
}
body table td.color {
  background-color: transparent;
}
body table td.color .colorBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
body table td.color .copyBtn {
  all: unset;
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  --size: 30px;
  width: var(--size);
  height: var(--size);
  background-color: var(--bg0);
  color: var(--fg0);
  border: 1px solid var(--bg1);
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}
body table td.color:hover .copyBtn {
  display: initial;
}

/*# sourceMappingURL=style.css.map */
